@font-face {
  font-family: 'iconfont';
  src:  url('fonts/iconfont.eot?652s61');
  src:  url('fonts/iconfont.eot?652s61#iefix') format('embedded-opentype'),
    url('fonts/iconfont.ttf?652s61') format('truetype'),
    url('fonts/iconfont.woff?652s61') format('woff'),
    url('fonts/iconfont.svg?652s61#iconfont') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="iconfont-"], [class*=" iconfont-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'iconfont' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconfont-image:before {
  content: "\e90d";
}
.iconfont-images:before {
  content: "\e90e";
}
.iconfont-file-text:before {
  content: "\e926";
}
.iconfont-location:before {
  content: "\e948";
}
.iconfont-floppy-disk:before {
  content: "\e962";
}
.iconfont-spinner:before {
  content: "\e97a";
}
.iconfont-search:before {
  content: "\e986";
}
.iconfont-switch:before {
  content: "\e9b6";
}
.iconfont-list:before {
  content: "\e9bb";
}
.iconfont-download:before {
  content: "\e9c7";
}
.iconfont-upload:before {
  content: "\e9c8";
}
.iconfont-checkbox-checked:before {
  content: "\ea52";
}
.iconfont-checkbox-unchecked:before {
  content: "\ea53";
}
.iconfont-radio-checked:before {
  content: "\ea54";
}
.iconfont-radio-unchecked:before {
  content: "\ea56";
}
.iconfont-indent-increase:before {
  content: "\ea7b";
}
.iconfont-indent-decrease:before {
  content: "\ea7c";
}

.iconfont-radio-status:before {
  content: "\ea56";
}

.ui-item-selected .iconfont-radio-status:before {
  content: "\ea54";
}