@font-face {
  font-family: 'iconfont';
  src:  url('fonts/iconfont.eot?3qvgii');
  src:  url('fonts/iconfont.eot?3qvgii#iefix') format('embedded-opentype'),
    url('fonts/iconfont.ttf?3qvgii') format('truetype'),
    url('fonts/iconfont.woff?3qvgii') format('woff'),
    url('fonts/iconfont.svg?3qvgii#iconfont') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="iconfont-"], [class*=" iconfont-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'iconfont' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconfont-home-bhshcy:before {
  content: "\e914";
}
.iconfont-home-jrtfjh:before {
  content: "\e915";
}
.iconfont-home-xsbzztggz:before {
  content: "\e916";
}
.iconfont-home-zxzdjh:before {
  content: "\e917";
}

.iconfont-nav-promotion-idea:before {
  content: "\e90a";
}
.iconfont-nav-promotion-ad-plan:before {
  content: "\e90b";
}
.iconfont-nav-collapse:before {
  content: "\e90c";
}
.iconfont-nav-promotion-project:before {
  content: "\e90f";
}
.iconfont-nav-collapsed:before {
  content: "\e910";
}
.iconfont-nav-promotion-ad-group:before {
  content: "\e911";
}
.iconfont-nav-report-overview:before {
  content: "\e908";
}
.iconfont-nav-report-ad-plan:before {
  content: "\e903";
}
.iconfont-nav-report-ad-group:before {
  content: "\e904";
}
.iconfont-nav-report-idea:before {
  content: "\e905";
}
.iconfont-nav-report-car-model:before {
  content: "\e906";
}
.iconfont-nav-user-pad:before {
  content: "\e907";
}
.iconfont-nav-report-project:before {
  content: "\e902";
}
.iconfont-down-out:before {
  content: "\e901";
}
.iconfont-checkbox-part:before {
  content: "\e900";
}
.iconfont-image:before {
  content: "\e90d";
}
.iconfont-images:before {
  content: "\e90e";
}
.iconfont-file-text:before {
  content: "\e926";
}
.iconfont-location:before {
  content: "\e948";
}
.iconfont-floppy-disk:before {
  content: "\e962";
}
.iconfont-spinner:before {
  content: "\e97a";
}
.iconfont-search:before {
  content: "\e986";
}
.iconfont-switch:before {
  content: "\e9b6";
}
.iconfont-list:before {
  content: "\e9bb";
}
.iconfont-download:before {
  content: "\e9c7";
}
.iconfont-upload:before {
  content: "\e9c8";
}
.iconfont-checkbox-checked:before {
  content: "\ea52";
}
.iconfont-checkbox-unchecked:before {
  content: "\ea53";
}
.iconfont-radio-checked:before {
  content: "\ea54";
}
.iconfont-radio-unchecked:before {
  content: "\ea56";
}
.iconfont-indent-increase:before {
  content: "\ea7b";
}
.iconfont-indent-decrease:before {
  content: "\ea7c";
}
.iconfont-delete:before {
  content: "\e909";
}
.iconfont-add:before {
  content: "\e912";
}
.iconfont-prewiew:before {
  content: "\e913";
}


.iconfont-radio-status:before{
  content: "\ea56";
}

.ui-item-selected .iconfont-radio-status:before {
  content: "\ea54";
}

.iconfont-checkbox-status:before {
  content: "\ea53";
}

.ec-checkbox-item-checked .iconfont-checkbox-status:before {
  content: "\ea52";
}

.ec-checkbox-item-all-checked .iconfont-checkbox-status:before {
  content: "\ea52";
}

.ec-checkbox-item-all-part .iconfont-checkbox-status:before {
  content: "\e900";
  font-size: 20px;
  color: #409eff;
}

